.pagination2 a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background-color: #292724;
}

.pagination2 a.active {
    background-color: black;
    color: white;
    color: #e0ac56;
}

.pagination2 a:hover:not(.active) {
    background-color: #c7bba7;
    color: #e0ac56;
}

.pagination2 {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}