.conteiner {
    margin: 10px 10px;
    color: #605b53;
}

.conteiner p{
    margin: 0;
}

.conteiner img{
    object-fit: cover;
    flex-direction: column;
    transition: 0.3s ease;
} 

.conteiner img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transform-origin: center center;
}

.conteiner:hover {
    color:#7a756c;
}