header {
    background-color: #161615;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    padding-left: 40px;
    margin: 0;
    color: orange;
    font-family: math;
    max-width: 200px;
}
header a {
    margin: 0 10px;
    text-decoration: underline;
    color: orange;
}

header a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.logReg {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-width: 1200px;
}



