header {
    box-sizing: border-box;
    background-color: #161615;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 10px 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    color: orange;
    font-family: math;
    max-width: 200px;
}
header a {
    margin: 0 10px;
    text-decoration: underline;
    color: orange;
}

header a:hover {
    text-decoration: none;
}

.hidden {
    display: none;
}

.logReg {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



