.photo_one{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_one p{
    padding: 0;
    margin: 0;
}

.buttons1 {
    height:50px;
    width: 50px;
    margin: 10px;
    background-color: #1f1f1f;
    background-image: url(3.png);
    border: none;
    cursor: pointer;
}

.buttons1:hover{
    height:50px;
    width: 50px;
    margin: 10px;
    background-color: #1f1f1f;
    background-image: url(4.png);
    border: none;
}

.buttons1:active {
    height:50px;
    width: 50px;
    margin: 10px;
    background-color: #1f1f1f;
    background-image: url(4.png);
    border: none;
}

.center {
    display: flex;
    justify-content: center;
}

.butLike {
    height:50px;
    width: 50px;
    margin: 10px;
    background-color: #1f1f1f;
    background-image: url(4.png);
    border: none;
}

.butLike:hover {
    height:50px;
    width: 50px;
    margin: 10px;
    background-color: #1f1f1f;
    background-image: url(3.png);
    border: none;
    cursor: pointer;
}

.category3 {
    color:white;
    width: 470px;
    padding-left: 10px;
    padding-block-end: 20px;
}

.but3{
    float: right;
    margin-top: 15px;
    background-color:  #161615;
    border: solid #272726;
    color: #605b53;
    cursor: pointer;
    height: 25px;
    margin: 0 5px;
}

.but3:hover{
    float: right;
    background-color:  #272726;
    border: solid #272726;
    color: #605b53;
    cursor: pointer;
}

.butt {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}

.but4{
    float: right;
    margin-top: 15px;
    background-color:  rgb(121, 6, 6);
    border: solid rgb(83, 5, 5);
    color: #605b53;
    cursor: pointer;
    height: 25px;
    margin: 0 5px;
}

.but4:hover{
    background-color:  rgb(83, 5, 5);
    border: solid rgb(83, 5, 5);;
    color: #605b53;
    cursor: pointer;
}