.statusPhoto{
    display: flex;
    flex-direction: row;
    margin: 10px  40px;
    flex-wrap: nowrap;
}

.statusPhoto a{
    margin: 0 auto;
    text-wrap: nowrap;
    padding: 0 4px;
    color: orange;
    text-decoration: none;
}

.statusPhoto a:hover{
    text-decoration:underline;
}