.sort p{
    padding: 2px;
    margin: 0;
    float: right;
    font-size: 14px;
}

.sort{
    position: relative;
}

.gonchar {
    position: absolute;
    top: 0;
    right: 0;
}

.hidden li{
    display: none;
}

.sort a{
    color: red;
    text-decoration: none;
}

.ganji{
    color: #e0ac56;
}

.ganji:hover{
    color: #c28e2e;
    text-decoration:underline;
}