.sort p{
    padding: 2px;
    margin: 0;
    float: right;
    font-size: 14px;
}

.sort{
    position: relative;
}

.hidden{
    display: none;
}

.ganji{
    color: #e0ac56;
    cursor: pointer;
    text-decoration: underline;
}

.ganji:hover{
    color: #c28e2e;
    text-decoration:underline;
}

.list {
    position: absolute;
    top: 20px;
    left: 0;
    width: fit-content;
    text-wrap: nowrap;
    color: #c28e2e;
    cursor: pointer;
    z-index: 1000;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.list a{
    color: #e0ac56;
    text-decoration: none;
}


.list li{
    background-color: rgba(16,16,15,0.9);
    border-bottom: 1px solid #2b2a29;
    padding: 0 6px;
}

.list li:hover{
    background-color:#2b2a29;
}

li a{
    display: block;
    width: 100%;
}
