.sort p{
    padding: 2px;
    margin: 0;
    float: right;
    font-size: 14px;
}

.sort{
    position: relative;
}

.hidden{
    display: none;
}

.ganji{
    color: #e0ac56;
    cursor: pointer;
    text-decoration: underline;
}

.ganji:hover{
    color: #c28e2e;
    text-decoration:underline;
}

.list {
    position: absolute;
    top:100%;
    right: 0;
    width: fit-content;
    background-color: rgba(0,0,0,0.3);
    color: #c28e2e;
    cursor: pointer;
    z-index: 1000;
    padding: 0 5px;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}