body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1f1f1f;
}

main {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
}

