body {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #1f1f1f;
}

main {
    margin: 0 auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    max-width: 2000px;
}

.q {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
